# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\nosf\Documents\GitHub\skillbox-homework\Module - 14\quest3\.idea/dataSources/
/dataSources.local.xml
